

// viewscreen breakpoints live here
$mobile-breakpoint: 600px;
$tablet-breakpoint: 900px;
$desktop-breakpoint: 1800px;

// color palette lives here 
//global
$primary-p-text: #323232;
$lable-text-color: #AFAFAF;
$text-border-color: #E1E1E1;
$field-text-bg: #FAFAFA;
$all-white: #FFFFFF;
$all-merc: #E1E1E1;
//instock colors
$nav-bg: #323232;
$primary-cta-text-link: #004892;
$primary-cta-hover: #002F5F;
//BrainFlix
$primary-cta-text-link2: #0095FF;
$primary-cta-hover2: #0065AD;
//BandSite 
$primary-cta: #323232;


// useful functions 



