
@use "./partials/partials" as *;


* {
    margin: 0;
    padding: 0;
    font-family: $font-stack;
    text-decoration: none;
}s

p {
    color: $primary-p-text;
    font-size: .9rem;
    padding: 0 2px;
    line-height: 1.5;
}

a, a:hover, a:focus, a:active {
    text-decoration: none;
    color: inherit;
}

body {
    background-color: $all-white;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden; 
}

// navigation bar lives here

.navigation {
    background-color: $nav-bg;
    color: $lable-text-color;
    height: 86px;
    width: 100%;

    @include for-tablet {
        @include displaytool (flex-start, center, row);
        height: 80px;
    }

    &__title {
        @include for-tablet {
            margin-left: 24px;
        }
        @include for-desktop {
            margin-left: 180px;
            font-size: 1vw;
        }
    }

    &__logo {
        width: 98%;
        position: relative;
        right: 0px;
    }

    &__bar--left {
        @include displaytool (center, center, none);
        height: 25px;
        width: 50vw;  
        color: $text-border-color;
        border-bottom: 0px solid $text-border-color;

        @include for-tablet {
            @include displaytool (center,flex-end,none);
            width: 35px;
            border-bottom: 0px solid $text-border-color;
            padding: 24px 25px;
            margin-left: 50px;
            color: $text-border-color;
            font-size: .85rem;
        }
    }   

    &__bar--right {
        @include displaytool (center, center, none);
        height: 25px;
        width: 50vw;  
        color: $all-white;
        border-bottom: 5px solid $all-white;
        @include for-tablet {
            @include displaytool (center,flex-end,none);
            width: 45px;
            padding: 24px 18px;
            margin-left: 50px;
            font-size: .85rem;
        }
    }
}

.navigation__title {
    @include displaytool (center, center, column);
    padding: 16px 0px;
}
.navigation__bar {
    color: $lable-text-color;
    @include displaytool(space-between , center, none);
}


// hero elements live here

.hero {
    @include for-mobile {
        height: 472px;
    }
    &__pic {
        position: relative;
        object-fit: cover;
        width: 100vw;
        height: 472px;
        background-color: $nav-bg;
        overflow: hidden;

    @include for-tablet {
        height: 60vw;
        height: 670px;
    }
    @include for-desktop {
        height: 60vw;
    }
    }

    &__tour__title {
        position: relative;
        color: $all-white;
        bottom: 126vw;
        padding-left: 16px;
        font-size: 1em;
        @include for-tablet {
            bottom: 48vw;
            font-size: 3.5vw;
            padding-left: 24px;
        }
    }

    &__title {
        position: absolute;
        top: 60vw;
        left: 16px;
        color: $all-white;
        font-weight: 900;
        font-size: 11.25vw;
        width: 88%;
        height: 60px;
        @include for-tablet {
            top: 32vw;
            font-size: 8vw;
            width: 80%;
            padding-left: 10px;
        }
        @include for-desktop {
            top: 30vw;
            left:180px;
            width: 50vw;
            font-size: 5vw;
        }
    }
    &__iframe {
        @include displaytool (center, center, row);
        position: relative;
        width: 90%; 
        height: 110px;
        padding-left: 16px;
        bottom: 50vw;
        border-radius: 7%;
        @include for-tablet {
            bottom: 30vw;
            width: 60%;
            height: 145px;
            padding-left: 24px;
        }
    }
    &__musicplayer {
        font-size: 10px; 
        color: #cccccc;
        line-break: anywhere;
        word-break: normal;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis; 
        font-family: $font-stack ;
        font-weight: normal;
    }
}

// shows list lives here 

.shows__list {

    &__title {
        padding-top: 32px;
        padding-bottom: 40px;
        margin-left: 16px;
        font-size: 2em;
        font-weight: 900;
        @include for-tablet {
            margin-top: 200px;
            margin-left: 24px;
        }
        @include for-desktop {
            padding-top: 40px;
            margin-left: 180px;
            font-size: 3vw;
            font-weight: 900;
        }
        
    }
    &__info__titles {
        display: none;
        @include for-tablet {
            width: 55%;
            text-align: right;
            @include displaytool(space-between, center, row);
            margin-left: 24px;
            margin-bottom: 30px;
            color: #cecdcd;
        }
        &--venue {
            position: relative;
            left: 40px;
        }
        &--location {
            position: relative;
            left: 40px;
        }
    }

}

#shows__section {
    border-bottom: 2px solid $all-merc;
    width: 80%;
    margin-left: 16px;
    margin-bottom: 30px;
    @include for-tablet {
        box-sizing: border-box;
        @include displaytool(space-between, center, row);
        width: 736px;
        overflow: hidden;
        margin-left: 24px;
        
    }
}

#shows__date, #shows__venue, #shows__location {
    font-weight: bold;
    color: #cecdcd;
    
}

#shows__date, #shows__venue, #shows__location {
    @include for-tablet {
        display: none;
    }
}

input {
    margin-bottom: 16px;
    width: 270px;
    height: 50px;
    background-color: $primary-p-text;
    font-size: 1em;
    border-radius: 8px;
    color: $all-white;
    border-collapse: separate;
    overflow: hidden;
    perspective: 1px;
    @include for-tablet {
        width: 160px;
        padding-top: 5px;
        margin-right: 24px;
    }
}

input:hover {
    background-color: black;
}

input:focus {
    outline: black;
}

#venue, #location {
    padding-top: 16px;
    padding-bottom: 24px;
    @include for-tablet {
    }
}

#date {
    font-weight: bold;
    padding-top: 16px;
    padding-bottom: 24px;
}

// footer content lives here

footer {
    background-color: $nav-bg;
    width: 100%;
}

.social__media {
    padding-top: 24px;
    width: 100%;
    color: $text-border-color;

    @include for-tablet {
        @include displaytool(flex-start,center, row);

    }
    

    &__title {
        font-size: 2.5em;
        font-weight: bold;
        padding-top: 50px;
        padding-left: 12px;
        @include for-tablet {
            padding-top: 0px;
            padding-left: 24px;
            font-size: 1.9em;
            color: $all-white;
        }
        @include for-desktop {
            padding-left: 180px;
            font-size: 2.8em;
        }
    }


    &__logo {

        &--instagram {
            height: 28px;
            width: 30px;
            @include for-mobile {
            padding: 25px 12px;
            }
            @include for-tablet {
                width: 19px;
                margin-left: 50px;
            }
            @include for-desktop {
                width: 30px;
                margin-left: 50px;
            }
        }

        &--facebook{
            height: 28px;
            width: 30px;
            @include for-mobile {
                padding: 25px 12px;
                }
            @include for-tablet {
                width: 12px;
                margin-left: 10px;

            }
            @include for-desktop {
                width: 30px;
                margin-left: 30px;
            }
        }

        &--twitter {
            height: 26px;
            width: 30px;
            @include for-mobile {
                padding: 25px 12px;
            }
            @include for-tablet {
                width: 23px;
                margin-left: 20px;
                
            }
            @include for-desktop {
                width: 30px;
                margin-left: 30px;
            }
        }
    }
    
    &__bandsite__logo {
        display: none;
        background-image: url(/assets/Logo/Logo-bandsite.svg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        width: 50px;
        height: auto;
        @include for-tablet {
            display: flex;
            width: 100px;
            height: 60px;
            margin-left: 200px;
        }
        @include for-desktop {
            margin-left: 33vw;
            width: 130px;
            height: 90px;
        }
    }
}

address {
    font-style: normal;
    padding-bottom: 0px;
    @include for-tablet {
        @include displaytool(flex-start, center, row);
    }
    @include for-desktop {
        @include displaytool(flex-start,center,row);
        width: 100%;
    }
}

.contact {
    padding-top: 16px;
    background-color: $nav-bg;
    width: 100%;
    @include for-desktop {
        padding-top: 35px;
        font-size: 1.1em;
        
    }
    &__section1 {
        @include for-tablet {
            margin-left: 16px;
        }
        @include for-desktop {
            margin-left: 174px;
        }
    }
    &__section2 {
        @include for-tablet {
            margin-left: 24px;
        }
    }

    &__section3 {
        @include for-tablet {
            margin-left: 24px;
        }
        @include for-desktop {
            margin-left: 80px;
        }
    }

    &__text {
        color: $text-border-color;
        font-weight: bold;
        line-height: 1.5em;
        font-size: 1em;
        padding-left: 12px;

        &__secondary {
            color: $lable-text-color;
            line-height: 1.5;
            font-size: .9em;
            padding-left: 12px;
        }
    }

    &__copyright {
        color: $lable-text-color;
        line-height: 1.5;
        font-size: .9em;
        padding-left: 12px;
        padding-bottom: 40px;
        @include for-tablet {
            @include displaytool(flex-start, center, row);
            padding-bottom: 35px;
            padding-top: 10px;
            margin-left: 16px
        }
        @include for-desktop {
            @include displaytool(flex-start,flex-start,row);
            padding-top: 40px;
            margin-left: 174px;
        }
    }
}



