@font-face {
  font-family: "Avenir";
  src: url("/assets/_Global_Font/AvenirNextProLT/Linotype-AvenirNextLTPro-Regular.otf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Avenir";
  src: url("/assets/_Global_Font/AvenirNextProLT/Linotype-AvenirNextLTPro-It.otf");
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: "Avenir";
  src: url("/assets/_Global_Font/AvenirNextProLT/Linotype-AvenirNextLTPro-Demi.otf");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Avenir";
  src: url("/assets/_Global_Font/AvenirNextProLT/Linotype-AvenirNextLTPro-BoldIt.otf");
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: "Avenir";
  src: url("/assets/_Global_Font/AvenirNextProLT/Linotype-AvenirNextLTPro-Bold.otf");
  font-weight: 900;
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
  font-family: "Avenir";
  text-decoration: none;
}

s p {
  color: #323232;
  font-size: 0.9rem;
  padding: 0 2px;
  line-height: 1.5;
}

body {
  background-color: #FFFFFF;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.navigation {
  background-color: #323232;
  color: #AFAFAF;
  height: 80px;
  width: 100%;
}
@media (min-width: 720px) {
  .navigation {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
  }
}
@media (min-width: 720px) {
  .navigation__title {
    margin-left: 24px;
  }
}
.navigation__bar--left {
  height: 25px;
  width: 110px;
  padding-left: 40px;
  color: #E1E1E1;
  border-bottom: 5px solid #FFFFFF;
}
@media (min-width: 720px) {
  .navigation__bar--left {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-direction: none;
    width: 35px;
    border-bottom: 5px solid #FFFFFF;
    padding: 24px 25px;
    margin-left: 50px;
    color: #FFFFFF;
    font-size: 0.85rem;
  }
}
.navigation__bar--right {
  height: 25px;
  width: 110px;
  color: #E1E1E1;
  border-bottom: 0px solid #E1E1E1;
}
@media (min-width: 720px) {
  .navigation__bar--right {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-direction: none;
    width: 45px;
    padding: 24px 18px;
    margin-left: 50px;
    font-size: 0.85rem;
  }
}

.navigation__title {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 16px 0px;
}

.navigation__bar {
  color: #AFAFAF;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: none;
}

.hero__pic {
  position: relative;
  width: 100vw;
  height: 32vh;
  filter: opacity(60%);
  background-color: #323232;
}
@media (min-width: 720px) {
  .hero__pic {
    height: 400px;
  }
}
.hero__title {
  position: absolute;
  top: 150px;
  left: 16px;
  color: #FFFFFF;
  font-weight: 900;
  font-size: 1.7rem;
  width: 75%;
  height: 60px;
}
@media (min-width: 720px) {
  .hero__title {
    top: 220px;
    font-size: 3.5rem;
  }
}

.biography {
  margin: 0px 16px;
}
@media (min-width: 720px) {
  .biography {
    margin: 0px 24px;
  }
}
.biography__title {
  font-weight: 900;
  padding-top: 32px;
  padding-bottom: 24px;
  font-size: 1.7rem;
  color: #323232;
}
@media (min-width: 720px) {
  .biography__title {
    font-size: 2.2rem;
  }
}
.biography__pic {
  width: 100%;
}
@media (min-width: 720px) {
  .biography__pic {
    width: 100%;
  }
}
.biography__quote {
  padding-top: 24px;
  padding-bottom: 10px;
  font-size: 1.15rem;
  color: #323232;
  line-height: 1.6;
}
@media (min-width: 720px) {
  .biography__quote {
    font-size: 1.4rem;
    font-weight: 900;
    margin-right: 28px;
  }
}
.biography__quote__credit {
  padding-bottom: 40px;
  font-size: 1.15rem;
  color: #323232;
}
@media (min-width: 720px) {
  .biography__quote__credit {
    font-size: 0.95em;
  }
}
.biography__subtitle {
  padding-bottom: 24px;
  font-size: 1.15rem;
  color: #323232;
}
@media (min-width: 720px) {
  .biography__subtitle {
    font-size: 1.4rem;
    font-weight: 900;
  }
}
.biography__body {
  color: #323232;
}
@media (min-width: 720px) {
  .biography__body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
  }
}
.biography__paragraph {
  font-size: 0.85em;
}
@media (min-width: 720px) {
  .biography__paragraph {
    margin-right: 24px;
    line-height: 1.8;
    font-size: 0.79em;
  }
}
.biography__paragraph2 {
  font-size: 0.85em;
}
@media (min-width: 720px) {
  .biography__paragraph2 {
    line-height: 1.8;
    font-size: 0.79em;
  }
}

.photo__gallery__title {
  font-weight: 900;
  box-sizing: border-box;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: row;
  padding-top: 72px;
  padding-bottom: 24px;
  font-size: 1.8rem;
  color: #323232;
  padding-left: 24px;
}
@media (min-width: 720px) {
  .photo__gallery__title {
    font-size: 2rem;
  }
}
.photo__gallery__all {
  padding: 0 16px;
}
@media (min-width: 720px) {
  .photo__gallery__all {
    box-sizing: content-box;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
    padding-bottom: 26px;
    padding-left: 24px;
  }
}
.photo__gallery__item1, .photo__gallery__item2, .photo__gallery__item3, .photo__gallery__item4, .photo__gallery__item5, .photo__gallery__item6, .photo__gallery__item7, .photo__gallery__item8, .photo__gallery__item9 {
  width: 100%;
  padding-bottom: 16px;
}
@media (min-width: 720px) {
  .photo__gallery__item1, .photo__gallery__item2, .photo__gallery__item3, .photo__gallery__item4, .photo__gallery__item5, .photo__gallery__item6, .photo__gallery__item7, .photo__gallery__item8, .photo__gallery__item9 {
    width: 210px;
    height: 126px;
    padding-right: 20px;
    padding-bottom: 24px;
  }
}

.social__media {
  background-color: #323232;
  width: 100%;
  color: #E1E1E1;
  display: block;
  padding: 0 0px;
}
.social__media__logo {
  height: 30px;
  width: 30px;
  padding: 20px 16px;
}
.social__media__title {
  font-size: 2.8em;
  font-weight: bold;
  padding-top: 50px;
  padding-left: 12px;
}

.contact__text {
  color: #E1E1E1;
  font-weight: bold;
  line-height: 1.5em;
  font-size: 1.1em;
  padding-left: 12px;
}
.contact__text__secondary {
  color: #E1E1E1;
  line-height: 1.5;
  font-size: 0.9em;
  padding-left: 12px;
}

address {
  font-style: normal;
  padding-bottom: 60px;
}/*# sourceMappingURL=main.css.map */